asgiref==3.8.1
Django==5.1.1
django-appconf==1.0.6
django-cors-headers==4.4.0
django-storages==1.14.4
django-video-encoding==1.0.0
djangorestframework==3.15.2
drf-yasg==1.21.7
inflection==0.5.1
iniconfig==2.0.0
model-bakery==1.19.5
mypy==1.11.2
mypy-extensions==1.0.0
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
psycopg==3.2.2
pytest==8.3.3
pytest-django==4.9.0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
setuptools==75.1.0
sqlparse==0.5.1
typing_extensions==4.12.2
uritemplate==4.1.1
